
<div class="contact-form-container">
  <form
    action="https://formspree.io/xyynlzjn"
    method="POST"
  >
    <ul class="flex-content">
      <li class="form-row">
        <label>
          Your email:
        </label>
        <input type="email" name="_replyto" class="input-email" >
      </li>
      <li class="form-row">
        <label>
          Your message:
        </label>
        <textarea name="message" placeholder="Your message" class="input-message"  rows="6"></textarea>
      </li>
      <li class="form-row">
        <button type="submit">Send</button>
      </li>
    </ul>
  </form>
</div>








